{% extends 'Layout/base.html.twig' %}

{% block title %}JMLHub • Réinitialisation de mot de passe{% endblock %}

{% block body %}
    <section>
        <h1>Réinitialisation de mot de passe</h1>
        {{ form_start(passForm) }}
        {{ form_row(passForm.password) }}
        {{ form_row(passForm.confirm_password) }}
        {{ form_row(passForm._submit) }}
        {{ form_end(passForm) }}
    </section>
{% endblock %}