{% extends 'Layout/base.html.twig' %}

{% block body %}
    {% include 'Widget/header.html.twig' %}
    <table>
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Date de parution</th>
                <th>Note</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
                <tr>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.description }}</td>
                    <td>{{ movie.releaseDate | date }}</td>
                    <td>{{ movie.rating }}</td>
                    {% include 'Widget/Movie/actions.html.twig' with {'movie': movie} %}
                </tr>
            {% else %}
                <span>Aucunes données</span>
            {% endfor %}
        </tbody>
    </table>

    <a class="button" href="{{ path('app_movie_create') }}">Créer</a>
{% endblock %}

