
{% extends 'Layout/base.html.twig' %}

{% block title %}Login{% endblock title %}

{% block body %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1>Connectez-vous</h1>

    {{ form_start(form) }}
    {{ form_row(form._username) }}
    {{ form_row(form._password) }}
    {{ form_row(form._submit) }}
    {{ form_end(form) }}

    <p><a href="{{ path('app_forgottenpassword') }}">Mot de passe oublié</a></p>

{% endblock body %}
