<header>
    <div class="logo">
        <img src="{{ asset('images/logo.png') }}" alt="Logo">
        <span class="name">Netflix <span class="hub">Like</span></span>
    </div>

    <nav>
        <ul>
            <li><a href="{{ path('app_home')}}" class="{% if app.request.attributes.get('_route') == 'app_home' %}active{% endif %}">
                    <i class="uil uil-estate"></i><span>Accueil</span></a>
            </li>
            <li><a href="{{ path('app_playlists') }}" class="{% if app.request.attributes.get('_route') == 'app_playlists' %}active{% endif %}">
                    <i class="uil uil-list-ol-alt"></i> <span>Watchlist</span></a>
            </li>
        </ul>

        {% if is_granted('ROLE_ADMIN') %}
            <ul> <!-- Visible seulement par les administrateurs -->
                <li><a href="{{ path('app_movies')}}" class="{% if app.request.attributes.get('_route') == 'app_movies' %}active{% endif %}">
                        <i class="uil uil-clapper-board"></i><span>Manager</span></a>
                </li>
                <li><a href="{{ path('app_category_list')}}" class="{% if app.request.attributes.get('_route') == 'app_category_list' %}active{% endif %}">
                        <i class="uil uil-inbox"></i><span>Catégorie</span></a>
                </li>
                <li><a href="{{ path('app_user_list')}}" class="{% if app.request.attributes.get('_route') == 'app_user_list' %}active{% endif %}">
                        <i class="uil uil-users-alt"></i><span>Utilisateurs</span></a>
                </li>
            </ul>
        {% endif %}

        <ul>
            <li><a href="{{ path('app_profile_update')}}" class="{% if app.request.attributes.get('_route') == 'app_profile_update' %}active{% endif %}">
                    <i class="uil uil-user-circle"></i><span>Profil</span></a>
            </li>
            <li><a href="{{ path('app_logout')}}" class="{% if app.request.attributes.get('_route') == 'app_logout' %}active{% endif %}">
                    <i class="uil uil-signout"></i><span>Se déconnecter</span></a>
            </li>
        </ul>
    </nav>
</header>